html
{
    width: 100%;
    height: 100%;
}

.Navigation
{
    
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:  #343a40;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    display: block;
    font-weight: bold;
    top:0px;
    position:sticky;

}
.Navigation ul {
    list-style-type: none;
    overflow: hidden;   
  }

.Navigation li
  {
    float: left; 
  }

.title{
    font-size: 30px;
    text-decoration: none;
    text-align: left;
    margin-top: 1em;
    text-transform: uppercase;
    color: white;
    margin-right: 15em;
    margin-left: 5em;
}

.icon
{
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase; 
    color: white;
    display: inline-block;
    margin-top: 1em;  
}
.icon:hover{
    color: #1abc9c;
}
.icon:first-child{
    margin-right: 20px;
}
.icon:last-child{
    margin-left: 20px;
}

.intro{
    background-color: #1abc9c;
    padding-bottom: 2em;
}
.f{
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: 0em;

}
#pic01{
    margin-left: 35em;
    margin-top: 2em;

}
#t2{
   color: white;
   text-transform: uppercase;
   font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   text-align: center;
   margin-left: -1em;
   font-weight: bold;
   font-size: 3em;

}
#t3{
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color:white;
    text-align: center;
    font-size: 25px;

}
#t4, #t6 {
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #343a40;
    text-align: center;
    font-size: 50px;  
    text-transform: uppercase;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    text-align: center;
    margin: auto;
    justify-content: center;
    margin-top: 4em;

}

.grid img{
    padding: 10px;
}

 .grid img:hover{

    color: #1abc9c;
 }

 .about{
     background-color: #1abc9c;
     padding-bottom: 5em;
 }

 #t5{
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: white;
    text-align: center;
    font-size: 50px;  
    text-transform: uppercase;
    padding-top: 1em;
 }
.common-part{
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
     display:inline-block;
     width:18%;
     color: white;
     font-size: 20px; 
     
 }
 .para{
     text-align: center;
 }

 .part1{
   
    text-align: justify;
    margin-top: 27px;
    margin-right: 32px;
 }

 .part2{
     margin-left: 10px;
     margin-top: -1em;
     text-align: justify;
     display: inline-block;
    
 }
 .FD{
   
    background-color: #1abc9c;
    color: white;
    margin-left: 44em;
    margin-top: 1em;
    padding: 25px;
    border-color: white;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 15px;
 }
.fafadownload{
    margin-left: 9px;
}

.FD:hover{
    background-color: white;
    color: black;
}
.details{
    text-align: center;
    margin-top: 4em;
}
.box{
    border: none;
    margin-left: 5px;
    margin-right: 22em;
    font-size: 22px;
    padding: 20px;
}
.sd{
    background-color: #1abc9c;
    color: white;
    margin-right: 43em;
    padding: 14px 20px 14px 20px;
    margin-top: 1em;
    font-size: 16px;
}
.sd:hover{
    background-color: darkgreen;
}
.info{
    background-color: darkcyan;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-bottom: 6em;
}
.i2 , .i1 , .i3 {
    display: inline-block;

}

.matter{
    margin-top: -1em;
}
.wrapper:first-child{
    margin-right: 0em;
}
.wrapper:last-child{
    margin-right: 0rem;
}
.fb{
    padding: 20px;
}

.i3{
    margin-left: 12em;
    margin-top: 3em;
}
  
.i2{
    margin-left: 13em;
}

.i1{
    margin-left: 12em;
}