html
{
    width: 100%;
    height: 100%;
}

.Navigation
{
    
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:  #343a40;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    display: block;
    font-weight: bold;
    top:10px;
    position:sticky;

}
.Navigation ul {
    list-style-type: none;
    overflow: hidden;   
  }

.Navigation li
  {
    float: left; 
  }

.title{
    font-size: 30px;
    text-decoration: none;
    text-align: left;
    margin-top: 1em;
    text-transform: uppercase;
    color: white;
    margin-right: 15em;
    margin-left: 5em;
}

.icon
{
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase; 
    color: white;
    display: inline-block;
    margin-top: 1em;  
}
.icon:hover{
    color: #1abc9c;
}
.icon:first-child{
    margin-right: 20px;
}
.icon:last-child{
    margin-left: 20px;
}

.intro{
    background-color: #1abc9c;
    padding-bottom: 2em;
}
.f{
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: 70em;

}
#pic01{
    margin-left: 35em;
    margin-top: 5em;

}
#t2{
   color: white;
   text-transform: uppercase;
   font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   text-align: center;
   margin-left: -1em;
   font-weight: bold;
   font-size: 3em;

}
#t3{
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color:white;
    text-align: center;
    font-size: 25px;

}